* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
}

header {
    background: #4A90E2;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.project {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 15px;
}

.project i {
    font-size: 24px; /* Icon size */
    color: #4A90E2; /* Icon color */
}

.skills-list {
    list-style-type: none;
    padding: 0;
}

.skills-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.skills-list i {
    margin-right: 10px; /* Space between icon and text */
}

form {
    display: flex;
    flex-direction: column;
}

form input,
form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 20px;
}
